* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  header {
    background-color: #1e76bb;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  
  header h1 {
    font-size: 150%;
   
  }
  
.div_start {
padding: 10px;
display: flex;
justify-content: center
}

button{
  padding: 5px;
  width: 10%;
  font-size: unset;
  border-radius: 9px;
}

button:hover {
  background-color:aquamarine;
  border-color: black;
  cursor: pointer;
}

 .quiz {
  display:none;
 }

 .question {
  padding: 10px;
  display: flex;
  justify-content: space-around;
 }

.options {
  padding: 2px;
}
  


  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  
  footer {
    background-color: #1e76bb;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }