/*Universal Selector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}


body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

header {
  background-color: #1e76bb;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

header h1 {
  font-size: 150%;

}

button {
  padding: 10px;
  width: 15%;
  font-size: 100%;
  border-radius: 9px;
}

button:hover {
  background-color: aquamarine;
  border-color: black;
  cursor: pointer;
}


/* Questions card*/

.div_start {
  padding: 30px;
  display: flex;
  justify-content: center
}

.quiz {
  display: none;
}

.question {
  margin-top: -40px;
  font-size: large;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

.options {
  padding: 40px;
}

.submit-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}


.score,
.end-btn,
.save-btn {
  display: none;
  margin: 10px;
}

/* style score from JS */
#scores {
  padding-bottom: 100px;
  text-align: center;
}

/* style of options from JS*/

label {
  margin-right: 15px;
  line-height: 32px;
}


input {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  transition: 0.1s all linear;
  margin-right: 10px;
  position: relative;
  top: 4px;
}

input:checked {
  border: 6px solid black;
}

input:hover {
  border-color: rgb(85, 22, 145);
  cursor: pointer;
}

/* style progress bar*/
.progress {
  height: 20px;
  background: #13b43e;
  box-shadow: 2px 14px 15px -7px rgba(30, 166, 250, 0.36);
  border-radius: 50px;
  transition: all 0.5s;
}

footer {
  background-color: #1e76bb;
  color: #fff;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}



/* blinking text credits https://codepen.io/sekane81/pen/yLwYrw
*/

.timer {
  font: size 16px;
  font-family: helvetica;
  font-weight: bold;
  color: black;
  text-transform: unset;
  text-align: center;
}

.timer {

  animation-name: parpadeo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes parpadeo {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@keyframes parpadeo {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

/** Media query */


@media screen and (max-width: 690px) {
 button {
    width: 30%;
    font-size: 100%;
    border-radius: 9px;
  };

  footer {
    height: 100px;
  };

  .progress {
    background: #13b43e;
    box-shadow: 2px 14px 15px -7px rgba(30, 166, 250, 0.36);
    border-radius: 50px;
    transition: all 0.5s;
  }

  .question {
    margin-left: 10px;
  }
}